<button data-ng-click="previousPage()" class="btn" data-ng-hide="hideButton() == 1">Previous</button>
<ul>
	<li data-ng-repeat="page in pages | limitTo: setLimit" data-ng-class="setActive()">
		<a href="" data-ng-click="goToPage(page)">{{ page-number }}</a>
	</li>
</ul>
<button data-ng-click="nextPage()" class="btn" data-ng-hide="hideButton() == numOfPages ">Next</button>
<p>Page {{ activePage }} of {{ numOfPages }}</p>
<label for="items_per_page">Items per page</label>
<select id="items_per_page" data-ng-model="option" data-ng-options="option.itemsPerPage for option in options" data-ng-change="selectChange(option)"></select>